.logBox{
    margin: 120px 0;
    display:flex;
    justify-content:center;
  
}
.logInfo{
    border: 2px solid lightgray;
    padding: 30px;
    border-radius: 10px;
}
.forget{
    margin-left: 100px;
    color:orange;
}
.createAcc{
    color:orange;
    margin-left: 10px;
}
.forget,
.createAcc:hover{
    cursor: pointer;
}